<!-- <div class="card-center">
    <div class="card ">
        Magic Card
    </div>
</div> -->

<div class="grid-container">
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
</div>
<router-outlet></router-outlet>