<div class="grid-container">
    <div>
        <div class="card legendary">
            Lendaria
        </div>
    </div>
    <div>
        <div class="card rare">
            Rara
        </div>
    </div>
    <div>
        <div class="card epic">
            Epica
        </div>
    </div>
    <div>
        <div class="card mythic">
            Mitica
        </div>
    </div>
    <div>
        <div class="card uncommon">
            Incomun
        </div>
    </div>
    <div>
        <div class="card common">
            Comun
        </div>
    </div>
    <div>
        <div class="card special">
            Especial
        </div>
    </div>
    <div>
        <div class="card common">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card common">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card common">
            Magic Card
        </div>
    </div>
</div>
<router-outlet></router-outlet>