<div class="grid-container">
    <div>
        <div class="card rare">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card legendary">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
    <div>
        <div class="card">
            Magic Card
        </div>
    </div>
</div>
<router-outlet></router-outlet>